.title {
    font-size: 78px;
    position: absolute;
    left: 10%;
    width: 80%;
    transition: 2s;
    color: #333333;
    animation: 0.5 slidedown linear;
}

.warpper {
    overflow-x: hidden;
}

#navbar {
    width: 100%;
    background-color: burlywood;
    z-index: 87;
    height: 15%;
    position: fixed;
    top: -15%;
    transition: 0.5s ease all;
}

#navnavi {
    width: 200px;
    height: 8%;
    background-color: burlywood;
    position: fixed;
    z-index: 87;
    left: 5%;
    top: 0%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    text-align: center;
    transition: 0.5s ease all;
}

table {
    width: 100%;
    height: 100%;
}

th {
    border: 2px solid black;
}

.title:hover {
    animation: 1s colorch alternate infinite;
}

@keyframes slidedown {
    0% {
        top: 0px;
        opacity: 1;
    }
    100% {
        top: 50px;
        opacity: 1;
    }
}

@keyframes colorch {
    50% {
        transform: scale(0.9, 0.9);
    }
    100% {
        transform: scale(1.1, 1.1);
    }
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    position: relative;
}

#backload {
    position: fixed;
    background-color: white;
    width: 100%;
    height: 100%;
    z-index: 999;
}

#full-size {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#loader {
    position: fixed;
    background-color: white;
    left: 50%;
    top: 50%;
    z-index: 999;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.cloud-1 {
    position: absolute;
    width: 20%;
    top: 400px;
    left: 5%;
    opacity: 1;
    animation: ccloud1 45s alternate infinite;
}

.cloud-2 {
    position: absolute;
    width: 20%;
    top: 300px;
    left: 35%;
    opacity: 1;
    animation: ccloud2 40s alternate infinite;
}

.cloud-3 {
    position: absolute;
    width: 20%;
    top: 300px;
    left: 75%;
    opacity: 1;
    animation: ccloud3 50s alternate infinite;
}
.bir1{
    width: 8%;
    position: absolute;
    top: 80px;
    left: 90%;
    animation:bin 20s linear infinite;
}
.bir2{
    width: 8%;
    position: absolute;
    top: 180px;
    left: 85%;
    animation:bin 28s linear infinite;
}
.bir3{
    width: 8%;
    position: absolute;
    top: 250px;
    left: 90%;
    animation:bin 25s linear infinite;
}
@keyframes bin{
    0% {
        left: -25%;
        transform: scale(-1, 1);
    }
    50% {
        left: 120%;
        transform: scale(-1, 1);
    }
    51% {
        left: 120%;
        transform: scale(1, 1);
    }
    99% {
        left: -25%;
        transform: scale(1, 1);
    }
    100% {
        left: -25%;
        transform: scale(-1, 1);
    }
}
body {
    background-size: auto;
    cursor: url(bc.cur), auto;
}

.box-1 {
    z-index: -1;
    width: 100%;
    height: 21600px;
    background-image: url("pics/seasky.png");
    position: absolute;
    top: 0%;
    left: 0%;
}

.paka1 {
    width: 20%;
    position: absolute;
    opacity: 0.3;
    top: 1700px;
    left: -20;
    z-index: 34;
}

.paka2 {
    width: 20%;
    position: absolute;
    opacity: 0.3;
    top: 1400px;
    right: 0%;
    z-index: 34;
}

.paka3 {
    width: 20%;
    position: absolute;
    opacity: 0.3;
    top: 1900px;
    right: 0%;
    z-index: 34;
}

.paka4-1 {
    width: 30%;
    position: absolute;
    opacity: 0.3;
    top: 900px;
    right: -9%;
    z-index: 3;
    transform: rotate(-90deg);
}

.paka4-2 {
    width: 30%;
    position: absolute;
    opacity: 0.3;
    top: 900px;
    left: -9%;
    z-index: 3;
    transform: rotate(90deg);
}

.platuna1 {
    position: absolute;
    width: 15%;
    top: 1100px;
    animation: tunavai1 30s infinite linear;
    opacity: 1;
    z-index: 40;
}

.platuna2 {
    position: absolute;
    top: 1250px;
    left: -90px;
    width: 15%;
    animation: tunavai2 30s linear infinite;
    opacity: 1;
    z-index: 40;
}

.platuna3 {
    position: absolute;
    top: 1280px;
    left: +90px;
    width: 15%;
    animation: tunavai3 30s linear infinite;
    opacity: 1;
    z-index: 40;
}

.platuna4 {
    position: absolute;
    width: 15%;
    animation: tunavai4 30s linear infinite;
    opacity: 1;
    z-index: 40;
}

.platewada {
    position: absolute;
    top: 1200px;
    z-index: 40;
    width: 5%;
    transform: scale(0.2, 0.2);
    animation: tewadavai 15s linear infinite;
    opacity: 1;
}

footer {
    width: 100%;
    position: absolute;
    top: 800px;
}

.plaangler:hover,
.platuna1:hover,
.platuna2:hover,
.platuna3:hover,
.platuna4:hover,
.jellyfish3:hover,
.jellyfish2:hover,
.jellyfish1:hover,
.platewada:hover,
.nemo1:hover,
.nemo2:hover,
.plavan:hover,
.plavan2:hover,
.chalam1:hover,
.chalam3:hover,
.loma:hover,
.loma22:hover,
.plasun1:hover,
.lion1:hover
{
    filter: drop-shadow(0 0 50px crimson);
}

.plaangler,
.platewada,
.platuna1,
.platuna2,
.jellyfish1,
.jellyfish2,
.jellyfish3,
.platuna3,
.platuna4,
.nemo1,
.nemo2,
.chalam1,
.chalam3,
.plavan,
.plavan2,
.loma,
.loma22,
.plasun1,
.lion1 {
    transition: .3s;
}

footer div {
    background-color: var(--col-deepblue);
    margin: -5px 0px 0px 0px;
    padding: 0px;
    color: #fff;
    text-align: center;
    z-index: 33;
}

.svg {
    width: 100%;
    overflow: visible;
    z-index: -5;
}

.wave {
    animation: wave 20s linear;
    animation-iteration-count: infinite;
    fill: #2bd3eb;
}

#fade {
    width: 1920px;
    height: 500px;
    background: linear-gradient(180deg, rgba(43, 211, 235, 1) 80%, rgba(43, 235, 59, 0) 100%);
    z-index: -4;
}

.drop {
    fill: var(--col-deepblue);
    fill: #99000055;
    animation: drop 3.2s linear infinite normal;
    stroke: var(--col-deepblue);
    stroke-width: 0.5;
    transform: translateY(25px);
    transform-box: fill-box;
    transform-origin: 50% 100%;
}

#wave2 {
    animation-duration: 25s;
    animation-direction: reverse;
    opacity: .6;
}

#wave3 {
    animation-duration: 35s;
    opacity: .3;
}

#wave4 {
    animation-duration: 40s;
    opacity: .3;
}

@keyframes tunavai1 {
    0% {
        left: 5%;
        top: 1200px;
        transform: scale(1, 1);
    }
    24% {
        transform: scale(1, 1);
    }
    25% {
        left: 80%;
        top: 1500px;
        transform: scale(-1, 1);
    }
    49% {
        transform: scale(-1, 1);
    }
    50% {
        left: 25%;
        top: 1900px;
        transform: scale(1, 1);
    }
    74% {
        transform: scale(1, 1);
    }
    75% {
        left: 55%;
        top: 1300px;
        transform: scale(-1, 1);
    }
    99% {
        transform: scale(-1, 1);
    }
    100% {
        left: 5%;
        top: 1200px;
        transform: scale(1, 1);
    }
}

@keyframes tunavai2 {
    0% {
        left: 9%;
        top: 1300px;
        transform: scale(1, 1);
    }
    28% {
        transform: scale(1, 1);
    }
    29% {
        left: 70%;
        top: 1600px;
        transform: scale(-1, 1);
    }
    49% {
        transform: scale(-1, 1);
    }
    50% {
        left: 30%;
        top: 2000px;
        transform: scale(1, 1);
    }
    78% {
        transform: scale(1, 1);
    }
    79% {
        left: 60%;
        top: 1400px;
        transform: scale(-1, 1);
    }
    99% {
        transform: scale(-1, 1);
    }
    100% {
        left: 9%;
        top: 1300px;
        transform: scale(1, 1);
    }
}

@keyframes tunavai3 {
    0% {
        left: 10%;
        top: 1200px;
        transform: scale(1, 1);
    }
    20% {
        transform: scale(1, 1);
    }
    21% {
        left: 74%;
        top: 1500px;
        transform: scale(-1, 1);
    }
    46% {
        transform: scale(-1, 1);
    }
    47% {
        left: 30%;
        top: 1900px;
        transform: scale(1, 1);
    }
    70% {
        transform: scale(1, 1);
    }
    71% {
        left: 60%;
        top: 1300px;
        transform: scale(-1, 1);
    }
    99% {
        transform: scale(-1, 1);
    }
    100% {
        left: 10%;
        top: 1200px;
        transform: scale(1, 1);
    }
}

@keyframes tunavai4 {
    0% {
        left: 5%;
        top: 1300px;
        transform: scale(1, 1);
    }
    29% {
        transform: scale(1, 1);
    }
    30% {
        left: 80%;
        top: 1400px;
        transform: scale(-1, 1);
    }
    55% {
        transform: scale(-1, 1);
    }
    56% {
        left: 25%;
        top: 1800px;
        transform: scale(1, 1);
    }
    77% {
        transform: scale(1, 1);
    }
    78% {
        left: 55%;
        top: 1200px;
        transform: scale(-1, 1);
    }
    99% {
        transform: scale(-1, 1);
    }
    100% {
        left: 5%;
        top: 1300px;
        transform: scale(1, 1);
    }
}

@keyframes drop {
    0% {
        transform: translateY(25px);
    }
    30% {
        transform: translateY(-10px) scale(.1);
    }
    30.001% {
        transform: translateY(25px) scale(1);
    }
    70% {
        transform: translateY(25px);
    }
    100% {
        transform: translateY(-10px) scale(.1);
    }
}

@keyframes wave {
    to {
        transform: translateX(-100%);
    }
}

.lifeundersea {
    position: absolute;
    top: 500px;
    left: 33%;
    width: 30%;
    border: 2px solid black;
    border-radius: 25px;
    padding: 2%;
    opacity: 1;
}

.boat {
    position: absolute;
    top: 680px;
    width: 200px;
    left: 10%;
    animation: bboat 4s alternate infinite;
}

@keyframes bboat {
    from {
        transform: rotate(0deg) scale(1, 1);
    }
    to {
        transform: rotate(-20deg) scale(1, 1);
    }
}

@keyframes ccloud1 {
    from {
        left: 5%;
    }
    to {
        left: 60%;
    }
}

@keyframes ccloud2 {
    from {
        left: 35%;
    }
    to {
        left: 80%;
    }
}

#infotuna,
#infonemo {
    text-align: center;
    width: 20%;
    border: 3px solid black;
    border-radius: 20px;
    visibility: hidden;
    font-size: 1em;
    margin-top: 10px;
    padding: 10px;
    position: fixed;
    top: 100px;
    background-color: rgba(255, 255, 255, 0.7);
    ;
}

@keyframes ccloud3 {
    from {
        left: 75%;
    }
    to {
        left: 10%;
    }
}

.nemo1 {
    width: 50px;
    position: absolute;
    top: 4100px;
    animation: nemovai1 11s linear infinite;
    opacity: 1;
    z-index: 89;
    transform: scale(-1,1);
}

.nemo2 {
    width: 50px;
    position: absolute;
    top: 4050px;
    animation: nemovai2 9s linear infinite;
    opacity: 1;
    z-index: 89;
    transform: scale(-1,1);
}

.plaangler {
    width: 20%;
    position: absolute;
    top: 18000px;
    animation: anglervai 50s linear infinite;
    opacity: 1;
}

.jellyfish1 {
    position: absolute;
    top: 5200px;
    left: 65%;
    width: 5vw;
    animation: jellvai2 8s infinite ease alternate;
    opacity: 1;
}

.jellyfish2 {
    position: absolute;
    width: 5vw;
    top: 5000px;
    left: 35%;
    animation: jellvai1 9s infinite ease alternate;
    opacity: 1;
}

.jellyfish3 {
    position: absolute;
    top: 4950px;
    left: 80%;
    width: 5%;
    animation: jellvai3 10s infinite ease alternate;
    opacity: 1;
}

@keyframes jellvai2 {
    0% {
        transform: scale(1, 1);
        top: 5000px;
        left: 10%
    }
    12.5% {
        transform: scale(1, 1.2);
    }
    25% {
        transform: scale(1, 1);
        top: 5000px;
        left: 20%;
    }
    37.5% {
        transform: scale(1, 1.2);
    }
    50% {
        transform: scale(1, 1);
        top: 5000px;
        left: 30%;
    }
    62.5% {
        transform: scale(1, 1.2);
    }
    75% {
        transform: scale(1, 1);
        top: 5000px;
        left: 20%;
    }
    87.5% {
        transform: scale(1, 1.2);
    }
    100% {
        transform: scale(1, 1);
        top: 5000px;
        left: 10%;
    }
}

@keyframes jellvai1 {
    0% {
        transform: scale(1, 1);
        top: 5200px;
        left: 60%
    }
    12.5% {
        transform: scale(1, 1.2);
    }
    25% {
        transform: scale(1, 1);
        top: 5200px;
        left: 50%;
    }
    37.5% {
        transform: scale(1, 1.2);
    }
    50% {
        transform: scale(1, 1);
        top: 5200px;
        left: 40%;
    }
    62.5% {
        transform: scale(1, 1.2);
    }
    75% {
        transform: scale(1, 1);
        top: 5200px;
        left: 30%;
    }
    87.5% {
        transform: scale(1, 1.2);
    }
    100% {
        transform: scale(1, 1);
        top: 5200px;
        left: 20%;
    }
}

@keyframes jellvai3 {
    0% {
        transform: scale(1, 1);
        top: 4950px;
        left: 80%
    }
    12.5% {
        transform: scale(1, 1.2);
    }
    25% {
        transform: scale(1, 1);
        top: 4950px;
        left: 60%;
    }
    37.5% {
        transform: scale(1, 1.2);
    }
    50% {
        transform: scale(1, 1);
        top: 4950px;
        left: 40%;
    }
    62.5% {
        transform: scale(1, 1.2);
    }
    75% {
        transform: scale(1, 1);
        top: 4950px;
        left: 60%;
    }
    87.5% {
        transform: scale(1, 1.2);
    }
    100% {
        transform: scale(1, 1);
        top: 4950px;
        left: 80%;
    }
}

@keyframes anglervai {
    0% {
        top: 18000px;
        left: -15%;
        transform: scale(-1, 1);
    }
    50% {
        top: 18000px;
        left: 50%;
        transform: scale(-1, 1);
    }
    51% {
        top: 18000px;
        left: 50%;
        transform: scale(1, 1);
    }
    99% {
        top: 18000px;
        left: -15%;
        transform: scale(1, 1);
    }
    100% {
        top: 18000px;
        left: -15%;
        transform: scale(-1, 1);
    }
}

@keyframes nemovai1 {
    0% {
        left: 200px;
        top: 4100px;
    }
    25% {
        left: 210px;
        top: 4000px;
    }
    75% {
        left: 170px;
        top: 4200px;
    }
    100% {
        left: 200px;
        top: 4100px;
    }
}

@keyframes tewadavai {
    0% {
        top: 1300px;
        left: 0%;
        transform: scale(-1, 1);
    }
    20% {
        top: 1000px;
        left: 40%;
        transform: scale(-1, 1);
    }
    58% {
        top: 1200px;
        left: 70%;
        transform: scale(-1, 1);
    }
    59% {
        top: 1200px;
        left: 70%;
        transform: scale(-1, 1);
    }
    60% {
        top: 1200px;
        transform: scale(1, 1);
    }
    99% {
        top: 1300px;
        left: 0%;
        transform: scale(1, 1);
    }
    100% {
        top: 1300px;
        left: 0%;
        transform: scale(-1, 1);
    }
}

@keyframes nemovai2 {
    0% {
        left: 200px;
        top: 4100px;
    }
    25% {
        left: 180px;
        top: 4200px;
    }
    75% {
        left: 220px;
        top: 4000px;
    }
    100% {
        left: 200px;
        top: 4100px;
    }
}

#ifamtuna,
#ifamnemo,
#ifamangler,
#ifamjelly,
#ifamvan,
#ifamangel,
#ifamchalam,
#ifamdol,
#ifamlion,
#ifamsun {
    position: fixed;
    right: -100%;
    visibility: hidden;
    z-index: 900;
    transition: .5s ease-in-out;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
iframe{
    width: 100%;
    height: 100%;
}
#close {
    position: fixed;
    top: 3%;
    left: 95%;
    visibility: hidden;
    z-index: 901;
}

.plavan {
    z-index: 55;
    position: absolute;
    top: 10000px;
    left: 50%;
    animation: vagvai_real 30s linear infinite;
}

.plavan2 {
    z-index: 55;
    position: absolute;
    top: 10500px;
    left: 50%;
    animation: vagvai_real2 30s linear infinite;
}

.van1 {
    position: absolute;
    top: 350px;
    left: 200px;
    z-index: 57;
    animation: vagvai2 4s alternate infinite;
}

.van2 {
    position: absolute;
    top: 300px;
    left: 100px;
    z-index: 54;
    animation: vagvai 5s alternate infinite;
}

.van3 {
    position: absolute;
    top: 270px;
    left: 355px;
    z-index: 56;
    animation: vagvai3 5s alternate infinite;
}

.van4 {
    position: absolute;
    top: 230px;
    left: -200px;
    z-index: 56;
}

.van11 {
    position: absolute;
    top: 350px;
    left: 200px;
    z-index: 57;
    animation: vagvai21 4s alternate infinite;
}

.van21 {
    position: absolute;
    top: 300px;
    left: 100px;
    z-index: 54;
    animation: vagvai11 5s alternate infinite;
}

.van31 {
    position: absolute;
    top: 270px;
    left: 355px;
    z-index: 56;
    animation: vagvai31 5s alternate infinite;
}

.van41 {
    position: absolute;
    top: 230px;
    left: -200px;
    z-index: 56;
}

@keyframes vagvai {
    0% {
        transform: rotate(0deg);
        transform-origin: 100% 0;
    }
    50% {
        transform: rotate(-20deg);
        transform-origin: 100% 0;
    }
    100% {
        transform: rotate(0deg);
        transform-origin: 100% 0;
    }
}

@keyframes vagvai11 {
    0% {
        transform: rotate(-20deg);
        transform-origin: 100% 0;
    }
    60% {
        transform: rotate(0deg);
        transform-origin: 100% 0;
    }
    100% {
        transform: rotate(-20deg);
        transform-origin: 100% 0;
    }
}

@keyframes vagvai21 {
    0% {
        transform: rotate(0deg);
        transform-origin: 0% 0%;
    }
    60% {
        transform: rotate(20deg);
        transform-origin: 0% 0%;
    }
    100% {
        transform: rotate( 0deg);
        transform-origin: 0% 0%;
    }
}

@keyframes vagvai21 {
    0% {
        transform: rotate(-10deg);
        transform-origin: 0% 0%;
    }
    50% {
        transform: rotate(20deg);
        transform-origin: 0% 0%;
    }
    100% {
        transform: rotate(-10deg);
        transform-origin: 0% 0%;
    }
}

@keyframes vagvai2 {
    0% {
        transform: rotate(20deg);
        transform-origin: 0% 0%;
    }
    50% {
        transform: rotate(-10deg);
        transform-origin: 0% 0%;
    }
    100% {
        transform: rotate(20deg);
        transform-origin: 0% 0%;
    }
}

@keyframes vagvai31 {
    0% {
        transform: rotate(0deg);
        transform-origin: 0% 0%;
    }
    50% {
        transform: rotate(10deg);
        transform-origin: 0% 0%;
    }
    100% {
        transform: rotate(0deg);
        transform-origin: 0% 0%;
    }
}

@keyframes vagvai3 {
    0% {
        transform: rotate(10deg);
        transform-origin: 0% 0%;
    }
    50% {
        transform: rotate(0deg);
        transform-origin: 0% 0%;
    }
    100% {
        transform: rotate(10deg);
        transform-origin: 0% 0%;
    }
}

@keyframes vagvai_real {
    0% {
        left: 170%;
        transform: scale(1.4, 1.4);
    }
    49% {
        left: -70%;
        transform: scale(1.4, 1.4);
    }
    50% {
        left: -70%;
        transform: scale(-1.4, 1.4);
    }
    99% {
        left: 170%;
        transform: scale(-1.4, 1.4);
    }
    100% {
        left: 170%;
        transform: scale(1.4, 1.4);
    }
}

@keyframes vagvai_real2 {
    0% {
        left: 170%;
        transform: scale(0.7, 0.7);
    }
    53% {
        left: -70%;
        transform: scale(0.7, 0.7);
    }
    54% {
        left: -70%;
        transform: scale(-0.7, 0.7);
    }
    99% {
        left: 170%;
        transform: scale(-0.7, 0.7);
    }
    100% {
        left: 170%;
        transform: scale(0.7, 0.7);
    }
}

.krapun1,
.krapun2,
.krapun3,
.krapun4,
.krapun5,
.krapun6,
.krapun7,
.krapun8 {
    position: absolute;
    z-index: 66;
    width: 15%;
}

.krapun {
    position: absolute;
    top: 16000px;
    width: 100%;
}

.krapun1 {
    position: absolute;
    top: 100px;
    left: 60%;
    animation: krapunvai1 11s ease infinite;
}

.krapun2 {
    position: absolute;
    top: 300px;
    left: 80%;
    animation: krapunvai2 8s ease infinite;
}

.krapun3 {
    position: absolute;
    top: 50px;
    left: 10%;
    animation: krapunvai3 9s ease infinite;
}

.krapun4 {
    position: absolute;
    top: 300px;
    left: 40%;
    animation: krapunvai4 10s ease infinite;
}

.krapun5 {
    position: absolute;
    top: 600px;
    left: 10%;
    animation: krapunvai5 8s ease infinite;
}

.krapun6 {
    position: absolute;
    top: -500px;
    left: 70%;
    animation: krapunvai6 10s ease infinite;
}

.krapun7 {
    position: absolute;
    top: -300px;
    left: 30%;
    animation: krapunvai7 9s ease infinite;
}

.krapun8 {
    position: absolute;
    top: -300px;
    left: 0%;
    animation: krapunvai8 7s ease infinite;
}

@keyframes krapunvai1 {
    0% {
        transform: scale(1, 1);
        left: 70%
    }
    12.5% {
        transform: scale(1, 1.1);
    }
    25% {
        transform: scale(1, 1);
        left: 65%;
    }
    37.5% {
        transform: scale(1, 1.1);
    }
    50% {
        transform: scale(1, 1);
        left: 70%;
    }
    62.5% {
        transform: scale(1, 1.1);
    }
    75% {
        transform: scale(1, 1);
        left: 65%;
    }
    87.5% {
        transform: scale(1, 1.1);
    }
    100% {
        transform: scale(1, 1);
        left: 70%;
    }
}

@keyframes krapunvai2 {
    0% {
        transform: scale(1, 1.1);
        left: 75%
    }
    12.5% {
        transform: scale(1, 1);
    }
    25% {
        transform: scale(1, 1.1);
        left: 80%;
    }
    37.5% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1, 1.1);
        left: 75%;
    }
    62.5% {
        transform: scale(1, 1);
    }
    75% {
        transform: scale(1, 1.1);
        left: 80%;
    }
    87.5% {
        transform: scale(1, 1);
    }
    100% {
        transform: scale(1, 1.1);
        left: 75%;
    }
}

@keyframes krapunvai3 {
    0% {
        transform: scale(1, 1);
        left: 10%
    }
    12.5% {
        transform: scale(1, 1.1);
    }
    25% {
        transform: scale(1, 1);
        left: 15%;
    }
    37.5% {
        transform: scale(1, 1.1);
    }
    50% {
        transform: scale(1, 1);
        left: 10%;
    }
    62.5% {
        transform: scale(1, 1.1);
    }
    75% {
        transform: scale(1, 1);
        left: 15%;
    }
    87.5% {
        transform: scale(1, 1.1);
    }
    100% {
        transform: scale(1, 1);
        left: 10%;
    }
}

@keyframes krapunvai4 {
    0% {
        transform: scale(1, 1);
        left: 40%
    }
    12.5% {
        transform: scale(1, 1.1);
    }
    25% {
        transform: scale(1, 1);
        left: 45%;
    }
    37.5% {
        transform: scale(1, 1.1);
    }
    50% {
        transform: scale(1, 1);
        left: 40%;
    }
    62.5% {
        transform: scale(1, 1.1);
    }
    75% {
        transform: scale(1, 1);
        left: 45%;
    }
    87.5% {
        transform: scale(1, 1.1);
    }
    100% {
        transform: scale(1, 1);
        left: 40%;
    }
}

@keyframes krapunvai5 {
    0% {
        transform: scale(1, 1.1);
        left: 5%
    }
    12.5% {
        transform: scale(1, 1);
    }
    25% {
        transform: scale(1, 1.1);
        left: 10%;
    }
    37.5% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1, 1.1);
        left: 5%;
    }
    62.5% {
        transform: scale(1, 1);
    }
    75% {
        transform: scale(1, 1.1);
        left: 10%;
    }
    87.5% {
        transform: scale(1, 1);
    }
    100% {
        transform: scale(1, 1.1);
        left: 5%;
    }
}

@keyframes krapunvai6 {
    0% {
        transform: scale(1, 1.1);
        left: 65%
    }
    12.5% {
        transform: scale(1, 1);
    }
    25% {
        transform: scale(1, 1.1);
        left: 70%;
    }
    37.5% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1, 1.1);
        left: 65%;
    }
    62.5% {
        transform: scale(1, 1);
    }
    75% {
        transform: scale(1, 1.1);
        left: 70%;
    }
    87.5% {
        transform: scale(1, 1);
    }
    100% {
        transform: scale(1, 1.1);
        left: 65%;
    }
}

@keyframes krapunvai7 {
    0% {
        transform: scale(1, 1);
        left: 30%
    }
    12.5% {
        transform: scale(1, 1.1);
    }
    25% {
        transform: scale(1, 1);
        left: 35%;
    }
    37.5% {
        transform: scale(1, 1.1);
    }
    50% {
        transform: scale(1, 1);
        left: 30%;
    }
    62.5% {
        transform: scale(1, 1.1);
    }
    75% {
        transform: scale(1, 1);
        left: 35%;
    }
    87.5% {
        transform: scale(1, 1.1);
    }
    100% {
        transform: scale(1, 1);
        left: 30%;
    }
}

@keyframes krapunvai8 {
    0% {
        transform: scale(1, 1.1);
        left: 5%
    }
    12.5% {
        transform: scale(1, 1);
    }
    25% {
        transform: scale(1, 1.1);
        left: 0%;
    }
    37.5% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1, 1.1);
        left: 5%;
    }
    62.5% {
        transform: scale(1, 1);
    }
    75% {
        transform: scale(1, 1.1);
        left: 0%;
    }
    87.5% {
        transform: scale(1, 1);
    }
    100% {
        transform: scale(1, 1.1);
        left: 5%;
    }
}

.hill1 {
    width: 100%;
    height: 1700px;
    position: absolute;
    top: 6000px;
    opacity: 1;
    z-index: 66;
}
.hill2 {
    height: 1000px;
    position: absolute;
    top: 3800px;
    opacity: 1;
    z-index: 66;
}

.chalam1 {
    width: 40vw;
    top: 6500px;
    position: absolute;
    z-index: 67;
    animation: chalamvai 20s linear infinite;
}

.chalam2 {
    width: 40vw;
    top: 6700px;
    position: absolute;
    z-index: 60;
    animation: chalamvai2 20s linear infinite;
    filter: blur(10px);
}

.chalam3 {
    width: 40vw;
    top: 6900px;
    position: absolute;
    z-index: 67;
    animation: chalamvai 23s linear infinite;
}

.chalam4 {
    width: 40vw;
    top: 7200px;
    position: absolute;
    z-index: 60;
    animation: chalamvai2 24s linear infinite;
    filter: blur(10px);
}

@keyframes chalamvai {
    0% {
        left: -35%;
        transform: scale(-1, 1);
    }
    50% {
        left: 90%;
        transform: scale(-1, 1);
    }
    51% {
        left: 90%;
        transform: scale(1, 1);
    }
    99% {
        left: -35%;
        transform: scale(1, 1);
    }
    100% {
        left: -35%;
        transform: scale(-1, 1);
    }
}
@keyframes chalamvai2 {
    0% {
        left: 90%;
        transform: scale(0.6, 0.6);
    }
    50% {
        left: -35%;
        transform: scale(0.6, 0.6);
    }
    51% {
        left: -35%;
        transform: scale(-0.6, 0.6);
    }
    99% {
        left: 90%;
        transform: scale(-0.6, 0.6);
    }
    100% {
        left: 90%;
        transform: scale(0.6, 0.6);
    }
}
.loma{
    position: absolute;
    top: 2300px ;
    animation: lomavai 20s linear infinite;
}
.loma11{
    position: absolute;
    top: 2700px ;
    filter: blur(10px);
    animation: lomavaiblur 20s linear infinite;
}
.loma22{
    position: absolute;
    top: 2900px ;
    animation: lomavai22 25s linear infinite;
}
.loma1{
    position: absolute;
    width: 50vw;
    top: 7vh;
    animation: lomavai1 2s alternate infinite;
}
.loma2{
    position: absolute;
    width: 50vw;
    top: 7vh;
}
@keyframes lomavai1{
    0% {
        transform: rotate(20deg);
        transform-origin: 60% 60%;
    }
    50% {
        transform: rotate(0deg);
        transform-origin: 60% 60%;
    }
    100% {
        transform: rotate(20deg);
        transform-origin: 60% 60%;
    }
}
@keyframes lomavai {
    0% {
        left: 160%;
        transform: scale(1, 1);
    }
    50% {
        left: -35%;
        transform: scale(1, 1);
    }
    51% {
        left: -35%;
        transform: scale(-1, 1);
    }
    99% {
        left: 160%;
        transform: scale(-1, 1);
    }
    100% {
        left: 160%;
        transform: scale(1, 1);
    }
}
@keyframes lomavaiblur {
    0% {
        left: -35%;
        transform: scale(-0.6, 0.6);
    }
    50% {
        left: 160%;
        transform: scale(-0.6, 0.6);
    }
    51% {
        left: 160%;
        transform: scale(0.6, 0.6);
    }
    99% {
        left: -35%;
        transform: scale(0.6, 0.6);
    }
    100% {
        left: -35%;
        transform: scale(-0.6, 0.6);
    }
}
@keyframes lomavai22 {
    0% {
        left: -35%;
        transform: scale(-1, 1);
    }
    50% {
        left: 160%;
        transform: scale(-1, 1);
    }
    51% {
        left: 160%;
        transform: scale(1, 1);
    }
    99% {
        left: -35%;
        transform: scale(1, 1);
    }
    100% {
        left: -35%;
        transform: scale(-1, 1);
    }
}
.plasun1{
    position: absolute;
    top: 8000px;
    z-index: 67;
    width: 30%;
    animation: sunvai 50s linear infinite;
}
.plasun2{
    position: absolute;
    top: 8000px;
    width: 30%;
    z-index: 66;
    filter: blur(10px);
    animation: sunvai2 56s linear infinite;
}
@keyframes sunvai{
    0% {
        top: 8300px;
        left: 0%;
        transform: scale(-1, 1);
    }
    20% {
        top: 8700px;
        left: 40%;
        transform: scale(-1, 1);
    }
    58% {
        top: 8200px;
        left: 80%;
        transform: scale(-1, 1);
    }
    59% {
        top: 8200px;
        left: 80%;
        transform: scale(-1, 1);
    }
    60% {
        top: 8200px;
        transform: scale(1, 1);
    }
    99% {
        top: 8300px;
        left: 0%;
        transform: scale(1, 1);
    }
    100% {
        top: 8300px;
        left: 0%;
        transform: scale(-1, 1);
    }
}
@keyframes sunvai2{
    0% {
        top: 8700px;
        left: 0%;
        transform: scale(-0.6, 0.6);
    }
    20% {
        top: 8500px;
        left: 40%;
        transform: scale(-0.6, 0.6);
    }
    58% {
        top: 8200px;
        left: 80%;
        transform: scale(-0.6, 0.6);
    }
    59% {
        top: 8200px;
        left: 80%;
        transform: scale(-0.6, 0.6);
    }
    60% {
        top: 8200px;
        transform: scale(0.6, 0.6);
    }
    99% {
        top: 8700px;
        left: 0%;
        transform: scale(0.6, 0.6);
    }
    100% {
        top: 8700px;
        left: 0%;
        transform: scale(-0.6, 0.6);
    }
}
.muklight1{
    position: absolute;
    top: 20000px;
    width: 10%;
    animation: mukpung 20s  infinite ease;
    transform: rotate(-45deg);
}
@keyframes mukpung{
    0% {
        transform: scale(-1.4, 1) rotate(-45deg);
        left: 5%;
    }
    12.5% {
        transform: scale(-1, 1) rotate(-45deg);
    }
    24%{
        transform: scale(-1.4, 1) rotate(-45deg);
    }
    25% {
        transform: scale(1.4, 1) rotate(-45deg);
        left: 80%;
    }
    37.5% {
        transform: scale(1, 1) rotate(-45deg);
    }
    49%{
        transform: scale(1.4, 1) rotate(-45deg);
    }
    50% {
        transform: scale(-1.4, 1) rotate(-45deg);
        left: 5%;
    }
    
    62.5% {
        transform: scale(-1, 1) rotate(-45deg);
    }
    74%{
        transform: scale(-1.4, 1) rotate(-45deg);
    }
    75% {
        transform: scale(1.4, 1) rotate(-45deg);
        left: 80%;
    }
    
    87.5% {
        transform: scale(1, 1) rotate(-45deg);
    }
    100% {
        transform: scale(1.4, 1) rotate(-45deg);
        left: 5%;
    }
}
.lion1{
    position: absolute;
    width: 13%;
    top: 2100px;
    z-index: 66;
    animation: 30s lionvai linear infinite;
}
@keyframes lionvai{
    0%{
        left: 10%;
        transform: scale(-1,1);
    }
    33%{
        left: 90%;
        transform: scale(-1,1);
    }
    34%{
        left: 90%;
        transform: scale(1,1);
    }
    66%{
        left: 50%;
        top: 2600px;
        transform: scale(1,1);
    }
    99%{
        left: 10%;
        transform: scale(1,1);
    }
    100%{
        left: 10%;
        transform: scale(-1,1);
    }
}