.box-1{
    width: 100%;
    height: 100%;
    background-image: url("pics/sky.png");
    position: absolute;
    top:0%;
    left:0%;
}
.water-lvl1{
    position: absolute;
    width: 100%;
    height: 10%;
    top:90%;
}
.cloud-1{
    position:absolute;
    width: 20%;
    top: 10%;
    left:5%;
}
.cloud-2{
    position:absolute;
    width: 20%;
    top: 30%;
    left:35%;
}

.cloud-3{
    position:absolute;
    width: 20%;
    top: 10%;
    left:75%;
}
.box-2{
    width: 100%;
    height: 100%;
    background-image: url("pics/water1.png");
    position: relative;
    top:0%;
    left:0%;
}

